@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
* These styles were added to improve the appearance of the example pages.
* It is safe to delete them, and they are not intended to be used by Refine components.
*/
@layer base {
  input {
    @apply rounded-sm border border-gray-300;
  }

  input[type="submit"] {
    @apply bg-[#EFEFEF];
  }

  button {
    @apply rounded-sm border border-gray-300 bg-[#EFEFEF] px-2;
  }

  h1 {
    @apply my-6 text-2xl font-bold;
  }

  ul {
    @apply my-4 list-disc;
  }

  a {
    @apply text-blue-700 underline;
  }

  label {
    @apply text-sm font-medium;
  }

  body {
    @apply m-0 bg-white;
  }

  table {
    @apply border-collapse border border-black;
  }

  table th,
  table td {
    @apply m-0 border-b border-r border-black p-2;
  }

  table tr:last-child td {
    @apply border-b-0;
  }

  table th:last-child,
  table td:last-child {
    @apply border-r-0;
  }

  .layout {
    @apply flex gap-4;
  }

  @media (max-width: 751px) {
    .layout {
      @apply block;
    }
  }

  .layout .content {
    @apply flex flex-grow flex-col;
  }

  .breadcrumb {
    @apply flex gap-6 border-b border-gray-300 p-2 px-4;
    list-style-type: "/ ";
  }

  .breadcrumb a {
    @apply text-blue-700 no-underline;
  }

  .menu {
    @apply flex-shrink-0 border-r border-gray-300 p-2 pr-4;
  }

  .menu a {
    @apply text-black;
  }

  .menu .active {
    @apply font-bold;
  }

  @media (max-width: 751px) {
    .menu {
      @apply border-b border-r-0 border-gray-300;
    }
  }

  .menu ul {
    @apply pl-4;
  }
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 24, 78%, 48%;
    --primary-foreground: 0 0% 98%;
    --secondary: 231, 11%, 12%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 24, 78%, 48%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 231, 11%, 12%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply h-screen min-w-80 bg-background text-foreground;
  }
}
